<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Login.CSS">
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <!-- Font -->
    <title>Login</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../Assets\logo-platzi-video-BW2.png" alt="Video">
    </header>
    <section class="login">
        <section class="login__container">
            <h2>Login</h2>
        <form class="login__container--form">
            <input class ="input" type="text" placeholder="Email">   
            <input class ="input" type="text" placeholder="Password">
            <a href="../index.html" class="button">
                <p>Login</p>
            </a>
            <div class="login__container--remember-me">
                <label>
                    <input type="checkbox" name="" id="box1" value="checkbox"> Remember me
                </label>
                <a href="./Login-page.html">I forget my password</a>
            </div>
        </form>
        <section class="login__container--social-media">
            <div><img src="../Assets/google-icon.png" alt="Google icon">Login with google</div>
            <div><img src="../Assets/twitter-icon.png" alt="Twitter icon">Login with Twitter</div>
        </section>
        <p class="login__container--register">I haven´t an account <a href="./Regist.html">register</a></p>
    </section>
    <footer class="footer">
        <a href="">Terms of use</a>
        <a href="">Privacy declaration</a>
        <a href="">Help center</a>
    </footer>
</body>
</html>