<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/Regist.CSS">
    <title>Regist</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="logo-platzi-video-BW2.png" alt="Logo">
    </header>
    <section class="regist">
        <section class="regist__container">
            <h2>Regist</h2>
        <form class="regist__container--form">
            <input class = "input" type="text" placeholder="Name">
            <input class ="input" type="text" placeholder="Email">   
            <input class ="input" type="text" placeholder="Password">
            <button class="buttom">Regist me</button>
        </form>
        <label>
            <input type="checkbox" name="" id="box1" value="checkbox"> Remember me
        </label>
        </section>
    </section>
    <footer class="footer">
        <a href="">Terms of use</a>
        <a href="">Privacy declaration</a>
        <a href="">Help center</a>
    </footer>
</body>
</html>